.whiteBg {
	display: grid;
	align-items: center;

	padding: 40px 30px;

	border-radius: 24px;
	background-color: var(--white);
	box-shadow: 0 12px 24px rgb(44 39 56 / 2%), 0 32px 64px rgb(44 39 56 / 4%);
}

@media screen and(max-width: 300px) {
	.whiteBg {
		padding: 20px 15px;
	}
}
