.btn {
	display: inline-block;

	box-sizing: border-box;
	padding: 18px 20px;

	border: 0;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgb(44 39 56 / 8%), 0 4px 8px rgb(44 39 56 / 8%);

	font-size: 16px;
	font-weight: 500;
}
